main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F84ED2;
    text-align: center;
    background-color: #2C424A;
    height: 100px;
}
#status{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

#mineCounter{
    display: flex;
}

#restartButton input{
    padding: 20px;
    border: 2px solid #2C424A;
    color: #2C424A;
    outline: 0;
    border-radius: 30px;
}

#restartButton input:active{
    background-color: #F84ED2;
}

#gameBoard{
    border: 2px solid black;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -3%);
    margin-bottom: 100px
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    border: 2px solid #ccc;
    padding: 3px;
    width: 30px;
    height: 30px;
    text-align: center;
}

